.html {
    height: 100%
}

.header-evals {
    color: 'white'
}

.text-evals {
    color: 'white'
}


.body {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 100%;

}

.question-title {
    color: red
}

.question-box {
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px
}

.form-label {
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;

}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}