.pad {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin: 0px;
}

.white-link {
    color: white;
}

.useful-header {
    margin-left: 20px;
}

.search-bar {
    width: '80vw';
}

.pad-end {
    width: 100vw;
    height: 40px;
    margin-top: -17px;
    background-color: #2e3f82;
}