/* Homepage.css */

/* .App-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.Link {
    text-decoration: none;
}

.category-link {
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(8, 52, 117, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #2a2a2a;
    background-color: #cfe4f7;
}

.category-link:hover {
    transform: scale(1.05);
    background-color: #e9dd71; /* Light gray background on hover */
/* }

.category-link h3 {
    margin-bottom: 10px;
}

.category-link p {
    color: #874a4a;
}
 */

/* TEST NEW CSS */

/* Homepage.css */

.Header-container {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 10px;
    font-size: 200%;
    background-color: #e9dd71;
  }
  
  .App-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 10%;
    margin-top: 10px;
  }
  
  .Link {
    text-decoration: none;
    flex-direction: column;
    min-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
  }
  
  .category-link {
    margin-top: 40px;
    width: 100%;
    height: 550px;
    padding: 0px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 60%;
    box-shadow: 0 0 0 rgba(8, 52, 117, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #2a2a2a;
    background-color: #cfe4f7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .category-link:hover {
    transform: scale(1.05);
    background-color: #e9dd71;
  }
  
  .category-link h3 {
    margin-bottom: 40px;
  }
  
  .category-link p {
    color: #874a4a;
    margin: 0;
  }
  
  