.toast-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.toast {
  padding: 10px;
  background-color: #3182b0;
  color: #ebebeb;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(8, 52, 117, 0.1);
}
  