.pad-2 {
  background-color: #2e3f82;
  background-clip: #2e3f82;
  min-height: 99vh;
}

.two-sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150vh;
  height: 100vh;
  /* Make the container take up the full height of the viewport */
}

.section {
  width: 50%;
  height: 33%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #cfe4f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.big-square-button {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #0056b3;
  border-radius: 10px;
  /* Adjust the border-radius to control the roundness */
  font-size: 18px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.header-connected {
  margin-left: 20px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .section {
    max-width: 80vw;
  }
}
